
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.container {
    position: relative;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 2%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}


.clock::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 2%;
    background-color: #ffffff;
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform-origin: bottom center;
}

.hand i {
    position: absolute;
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}


.hand div.hour-extra, .hand div.min-extra, .hand div.sec-extra {
    position: absolute;
    font-size: 20px;
    height: var(--h);
}

.sec-extra::after, .min-extra::after, .hour-extra::after {
    content: attr(data-time);
    display: block;
    transform: rotate(calc(-1deg * var(--t)));
}

